@font-face {
    font-family: 'Montserrat_local';
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Regular.eot');
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Regular.woff') format('woff'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_local';
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Bold.eot');
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Bold.woff') format('woff'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Bold.ttf') format('truetype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat_local';
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-SemiBold.eot');
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-SemiBold.woff') format('woff'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'CormorantGaramond_local';
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Regular.eot');
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Regular.woff2') format('woff2'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Regular.woff') format('woff'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Regular.ttf') format('truetype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Regular.svg#Montserrat-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantGaramond_local';
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Bold.eot');
    src: url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Bold.woff2') format('woff2'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Bold.woff') format('woff'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Bold.ttf') format('truetype'),
        url('https://www.buro247.ru/sp/bvlgari/fonts/CormorantGaramond_local-Bold.svg#Montserrat-SemiBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

